<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/user/new">
      <input type="submit" value="Sign Up">
    </form>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>  

  </body>
</html>
