

<ul id="links">
  <% @links.each do |link| %>
    <ul>
      URL: <%= link.url %>
      Title: <%= link.title %>
      Category: <%= link.category %>
      Description: <%= link.description %>
    </ul>
  <% end %>
</ul>

<a href='/links/new'>Add a new link</a>
