<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add your techbookmark!</h1>

    <form action='/links' method='post'>

      <input type='text' name='url' placeholder='url'>
      <input type='text' name='title' placeholder='Title'>

      <select name='category' placeholder='Category'>
        <option value="ruby">Ruby</option>
        <option value="javascript">Javascript</option>
        <option value="HTML_CSS">HTML &amp; CSS</option>
        <option value="web">Web Apps</option>
        <option value="General">General</option>
      </select>

      <select name='subcategory' placeholder='Sub-Category'>
        <option value="Data">Ruby</option>
        <option value="javascript">Javascript</option>
        <option value="HTML_CSS">HTML &amp; CSS</option>
        <option value="web">Web Apps</option>
        <option value="General">General</option>
      </select>


      <input type='text' name='description' placeholder='Description'>
      <input type='submit' value='Create link'>

    </form>
  </body>
</html>
