Test

<form action='/links' method='post'>
  url <input type='text' name='url' placeholder='url'>
  Title <input type='text' name='title' placeholder='Title'>
  Category <input type='text' name='category' placeholder='Category'>
  Description <input type='text' name='description' placeholder='Description'>
  <input type='submit' value='Create link'>
</form>
