<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Sign-up</title>
  </head>
  <body>
    <form action='/user' method="post">
      <input type="text" name="first_name" placeholder="John" required>
      <input type="text" name="last_name" placeholder="Smith" required>
      <input type="text" name="email" placeholder="johnsmith@example.com" required>
      <input type="text" name="username" placeholder="JohnSmith1" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="password_confirmation" placeholder="Confirm Password" required>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>
